# === Java / Maven ===
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# === Spring / Logs / Env ===
*.log
.env
HELP.md
application-local.properties
application-secrets.properties

# === IDE: IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws

# === IDE: STS / Eclipse ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# === IDE: Visual Studio Code ===
.vscode/

# === IDE: Visual Studio (C#/DB) ===
.vs/

# === Build directories ===
build/
!**/src/main/**/build/
!**/src/test/**/build/

# === Databases (SQLite etc.) ===
*.sqlite
*.sqlite-journal

# === OS / Misc ===
.DS_Store
Thumbs.db
