<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | FootyCup</title>
    <link rel="stylesheet" href="my-tournaments.component.css">
  </head>
  <body>
    <div class="app-container">
      <aside class="sidebar">
        <div class="sidebar-header">
          <img src="assets/images/logo1_3.png" alt="FootyCup Logo" class="sidebar-logo">
        </div>
        <nav class="sidebar-nav">
          <a routerLink="/dashboard" class="nav-link">Dashboard</a>
          <a routerLink="/tournaments/my" class="nav-link active">Tournaments</a>
          <a routerLink="/settings"class="nav-link">Settings</a>
        </nav>
        <nav class="sidebar-footer">
          <a routerLink="/aboutus">About us</a>
          <a routerLink="/contact">Contact</a>
        </nav>
      </aside>

      <div class="main">
        <header class="header">
          <div class="header-spacer"></div>
          <div class="user-info">
            <span *ngIf="auth.currentUser$ | async as user">
              {{ user.firstname }} {{ user.lastname }}
            </span>
            <div class="avatar"></div>
          </div>
        </header>

        <main class="content">
          <h2>Moje Turnieje</h2>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Location</th>
                <th>Status</th>
                <th>
                  <button (click)="loadTournaments()">Refresh</button>
                  <button (click)="goToCreate()">Create</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of tournaments" (click)="openDetails(t.id)" style="cursor: pointer;">
                <td>{{ t.name }}</td>
                <td>{{ t.startDate }}</td>
                <td>{{ t.endDate }}</td>
                <td>{{ t.location }}</td>
                <td>{{ t.status }}</td>
                <td>
                  <a [routerLink]="['/tournaments', t.id, 'edit']" (click)="$event.stopPropagation()">✏️ Edytuj</a> |
                  <button (click)="deleteTournament(t.id); $event.stopPropagation()">🗑️ Usuń</button>
                </td>
              </tr>
            </tbody>
          </table>

        </main>

        <footer class="footer">
          <p>&copy; 2023 FootyCup. All rights reserved.</p>
        </footer>
      </div>
    </div>
  </body>
</html>



