<h2>Moje Turnieje</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
      <th>Status</th>
      <th>
        <button (click)="loadTournaments()">Refresh</button>
        <button (click)="goToCreate()">Create</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of tournaments">
      <td>{{ t.name }}</td>
      <td>{{ t.startDate | date }}</td>
      <td>{{ t.endDate | date }}</td>
      <td>{{ t.location }}</td>
      <td>{{ t.status }}</td>
      <td>
        <button><a [routerLink]="['/tournaments', t.id, 'edit']">Edit</a></button>
        <button (click)="deleteTournament(t.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>